/*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */



/* Key scaffolding
-------------------------------------------------- */

body {
    position: relative; /* For scrollyspy */
}


/* Docs sidebar
-------------------------------------------------- */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

/* First level of nav */
.bs-sidenav {
    /*    margin-top: 30px;
        margin-bottom: 30px;
    */    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    /*    color: #716b7a;*/
    padding: 5px 20px;
}

.current{
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* Response tables. */
.table-condensed th {
    width : 30%;
}